<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>库存列表</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHelp()">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      placeholder="按物品名称搜索" 
      [(ngModel)]="searchTerm" 
      (ionInput)="filterItems()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of filteredItems">
      <ion-label>
        <h2>{{ item.item_name }}</h2>
        <p>类别: {{ item.category }} | 数量: {{ item.quantity }}</p>
        <p>价格: ${{ item.price }} | 供应商: {{ item.supplier_name }}</p>
      </ion-label>
      <ion-badge slot="end" [color]="getStatusColor(item.stock_status)">
        {{ item.stock_status }}
      </ion-badge>
    </ion-item>
  </ion-list>
  <ion-note *ngIf="filteredItems.length === 0" class="ion-padding">
    未找到匹配物品
  </ion-note>
</ion-content>