h2 {
  margin-top: 24px;
  margin-bottom: 8px;
  color: var(--ion-color-primary);
}

h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}

ul {
  margin: 0;
  padding-left: 20px;
  line-height: 1.6;
}

p {
  line-height: 1.6;
}